<div class="background">
  <div class="historial-container">
    <h2 class="titulo">Historial de Tests</h2>
    <div class="filtros-fecha d-flex align-items-center gap-2 mb-4">
      <label for="desde">Desde:</label>
      <input
        type="date"
        id="desde"
        [(ngModel)]="fechaDesde"
        class="form-control"
      />

      <label for="hasta">Hasta:</label>
      <input
        type="date"
        id="hasta"
        [(ngModel)]="fechaHasta"
        class="form-control"
        [max]="fechaHoy"
      />

      <button class="btn btn-filtrar" (click)="filtrarPorFecha()">
        Filtrar
      </button>
      <button class="btn btn-secondary" (click)="resetearFiltro()">
        Limpiar
      </button>
    </div>

    <table class="table table-bordered table-hover">
      <thead class="table-primary">
        <tr>
          <th>Fecha de Registro</th>
          <th>Nombre del Usuario</th>
          <th>Primera Carrera</th>
          <th>Favorito</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of testsFiltrados">
          <td>{{ formatearFecha(test.fechaRegistro) }}</td>
          <td>{{ test.username }}</td>
          <td>
            {{ test.prediction[0]?.nameCareer }} - {{
            test.prediction[0]?.hitRate }}%
          </td>
          <td class="text-center">
            <button class="btn btn-link p-0" (click)="marcarFavorito(test)">
              <i
                class="bi"
                [ngClass]="test.favorite ? 'bi-star-fill text-warning' : 'bi-star'"
                style="font-size: 1.5rem"
              ></i>
            </button>
          </td>

          <td>
            <button
              class="btn btn-sm btn-outline-primary btn-verTest"
              (click)="verResultado(test)"
            >
              Ver resultado
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="historialTests.length === 0" class="text-center mt-4">
      <p>No hay tests realizados todavía.</p>
    </div>
  </div>
</div>
<div
  *ngIf="mostrarToast"
  class="toast-mensaje"
  [ngStyle]="{ 'background-color': colorToast }"
>
  {{ mensaje }}
</div>
